*,
*::before,
*::after {
    box-sizing: border-box;
}


/*Navbar */
.navbar {
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: rgba(39, 34, 34, 0.8);
    transition: background-color 0.3s, opacity 0.3s; /* Sanfte Übergänge */
}
/*Navbar Struktur Panel*/
.navbar-structurepanel {
    border-radius: 15px 0 15px 0 ;
    display: flex;
    flex-direction: row; 
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 15px;
    background: linear-gradient(120deg, #1e3c72, #2a5298, #6b73ff, #a4f9ff);
}
/* Navbar Logo Box*/
.nav-logo-box {
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 15px;
    width: 50px;
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
/* Navbar Logo*/
.nav-logo {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
/*Nav-Items-Box*/
.nav-items-box {
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0 15px 0 5px;
}
 /*Nav-Item*/
.nav-item {
    display: flex;  
    align-items: center; 
    height: 100%; 
    border-top: 0;
    border-bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto 10px ;
    padding: 0 10px;
    cursor: pointer;
}
/*Nav-Link*/
.nav-link {
    display: flex; 
    align-items: center; 
    height: 100%; 
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;  
}
.nav-item-dropdown .nav-link::after {
    content: " ▼"; /* Pfeil */
    font-size: 12px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.nav-item-dropdown.active .nav-link::after {
    transform: rotate(180deg); /* Dreht den Pfeil */
}

/*Nav-Item-Dropdown*/
.nav-item-dropdown {
    display: flex;  
    align-items: center; 
    height: 100%; 
    border-top: 0;
    border-bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto 10px ;
    padding: 0 10px;
    cursor: pointer;
}
/*Nav-Item-Dropdown :
    : DropdownMenu*/
.dropdown-menu {
    display: none ;  
}
.dropdown-menu.active {
    display: flex;
    flex-direction: column;
    top: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}






